/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
	height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.parent-toast > :first-child {
	margin-top: 4em !important;
}
